
 *{
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor-contenedor {
    display: flex;
   justify-content: center;
   margin-top: 5em;
}
.contenedor-contador {
    width:100vh;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    background-color: #5f5f5f9f;
    align-items: center;   
    border: 2px solid rgba(0, 0, 0, 0.39);
    border-radius: 5px;
}

.h1-contador {
    padding: 5px;
    color: rgba(0, 0, 0, 0.733);
    background-color: #5f5f5f;
    border-radius: 4px;
}


.contador-numero {
    margin-top:10px;
    margin-bottom:10px;
    font-size: 3em;
    background-color:transparent;
    font-weight: bold;
}

.sumar-contador, .restar-contador {
    font-size: 25px;
    width: 40px;
    height: 40px;
    border: none;
    background-color:#5f5f5f ;
    border-radius: 5px;
}

.reset-contador {
    font-size: 25px;
    border: none;
    background-color:#5f5f5f ;
    border-radius: 5px;
}

.reset-contador:hover {
    cursor: pointer;
        background-color:#4d4c4c ;
}
.sumar-contador:hover {
    cursor: pointer;
        background-color:#4d4c4c ;
}
.restar-contador:hover {
    cursor: pointer;
        background-color:#4d4c4c ;
} 